# Simple linear regression - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size.csv'. 

You are expected to create a simple linear regression (similar to the one in the lecture), using the new data. 

Apart from that, please:
-  Create a scatter plot (with or without a regression line)
-  Calculate the R-squared
-  Display the intercept and coefficient(s)
-  Using the model make a prediction about an apartment with size 750 sq.ft.

Note: In this exercise, the dependent variable is 'price', while the independent variable is 'size'.

Good luck!

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

## Load the data

In [20]:
data = pd.read_csv('real_estate_price_size .csv')

In [21]:
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [22]:
data.describe()

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

## Create the regression

In [23]:
lm = LinearRegression()

In [24]:
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Declare the dependent and the independent variables

In [25]:
y = data['price']
x = data['size']

### Explore the data

### Transform the inputs into a matrix (2D object)

In [26]:
x_matrix = x.values.reshape(-1,1)
x_matrix.shape

(100, 1)

### Regression itself

In [27]:
lm.fit(x_matrix, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Calculate the R-squared

In [28]:
lm.score(x_matrix, y)

0.7447391865847586

### Find the intercept

In [29]:
lm.intercept_

101912.60180122912

### Find the coefficients

In [30]:
lm.coef_

array([223.17874259])

### Making predictions

You find an apartment online with a size of 750 sq.ft.

All else equal what should be its price according to the model?

In [31]:
lm.predict(750)

array([269296.65874718])