In [21]:
import pandas as pd
import gspread  #Google Sheets unit  https://docs.gspread.org/en/latest/
import gspread_dataframe as gd # gspread https://pypi.org/project/gspread-dataframe/
from google.oauth2.service_account import Credentials        
from google.auth.transport.requests import AuthorizedSession

In [22]:
    scopes =["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]
    credentials = Credentials.from_service_account_file('my_cred.json', scopes=scopes)
    gc = gspread.Client(auth=credentials)
    gc.session = AuthorizedSession(credentials)
    
    wks = gc.open('gcloud_example').worksheet('Sheet1')  #opens connection to Google Sheets

In [23]:
#gets all values as a list of a list
my_list = wks.get_all_values()
my_list

[['name', 'fruit'], ['sai', 'apple'], ['tim', 'cherry']]

In [24]:
#gets all values as a list of dictionarys
my_dict = wks.get_all_records()
my_dict

[{'name': 'sai', 'fruit': 'apple'}, {'name': 'tim', 'fruit': 'cherry'}]

In [26]:
wks.update_cell(4, 1, 'Sanjana') #row, column

{'spreadsheetId': '19z5-gypPHB4vIRTiJGtb6leDumYzruPWxsHx9PPI0HE',
 'updatedRange': 'Sheet1!A4',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [27]:
# Let's repull the data
my_list = wks.get_all_values()
my_list

[['name', 'fruit'], ['sai', 'apple'], ['tim', 'cherry'], ['Sanjana', '']]

In [28]:
# creates the column headers
df_head = my_list[0]
df_head

['name', 'fruit']

In [29]:
# puts it into dataframe
my_df = pd.DataFrame(data = my_list[1:], columns = df_head)
my_df

      name   fruit
0      sai   apple
1      tim  cherry
2  Sanjana

In [30]:
# let's do a data transformation
my_df['qty'] = [1, 3, 5]
my_df

      name   fruit  qty
0      sai   apple    1
1      tim  cherry    3
2  Sanjana            5

In [31]:
# lets write our new dataframe to Google Sheets
# calls the gspread-dataframe function
gd.set_with_dataframe(wks, my_df)

In [32]:
# function takes in a datframe and adds another row at the bottom
def my_func():
    scopes =["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]
    credentials = Credentials.from_service_account_file('my_cred.json', scopes=scopes)
    gc = gspread.Client(auth=credentials)
    gc.session = AuthorizedSession(credentials)
    wks = gc.open('gcloud_example').worksheet('Sheet2')  #opens connection to Google Sheets
    
    
    my_list = wks.get_all_values()
    df_head = my_list[0]
    my_df = pd.DataFrame(data = my_list[1:], columns = df_head)
    new_row={'name': 'fred', 'fruit': 'banana'}
    my_df = my_df.append(new_row, ignore_index=True)
    print (my_df)
    
    gd.set_with_dataframe(wks, my_df)

In [34]:
my_func()

   name   fruit
0   sai   apple
1   tim  cherry
2  fred  banana
3  fred  banana

In [ ]:
g