In [4]:
# Tuple is an ordered collection or grouping of items
# It is immutable, meaning it can't be changed or updated
# Tuples are faster than lists

In [2]:
x = (1,2,3)
3 in x

True

In [3]:
x[0] = 2

TypeError: 'tuple' object does not support item assignment

In [8]:
# iterating over a tuple
names = ('Colt', 'Blue', 'Rusty', 'Lassie')

In [7]:
for name in names:
    print (name)

Colt
Blue
Rusty
Lassie

In [11]:
names.count('Colt')

1

In [13]:
names.index('Rusty')

2

In [21]:
# Sets
# no duplicates
# no indexes

In [15]:
s = {1, 4, 5}

In [16]:
4 in s

True

In [19]:
s = set({1,2,3,3})
s

{1, 2, 3}

In [20]:
s[0]

TypeError: 'set' object does not support indexing

In [22]:
for number in s:
    print (number)

1
2
3

In [25]:
# if you had a list and only want the unique values
cities = ['LA', 'SF', 'LA', 'SD']

In [24]:
set(cities)

{'LA', 'SD', 'SF'}

In [26]:
print(list(set(cities)))

['SF', 'SD', 'LA']

In [27]:
# Adding/remoing sets

In [28]:
s = set({1,2,3,3})
s

{1, 2, 3}

In [29]:
s.add(4)
s

{1, 2, 3, 4}

In [30]:
s.remove(4)
s

{1, 2, 3}

In [31]:
s.remove(6)

KeyError: 6

In [33]:
s.discard(6)  # if you use discard it won't throw an error

In [34]:
# copy a set
another_s = s.copy()
another_s

{1, 2, 3}

In [35]:
# Set Math

In [36]:
math_students = {'Matt', 'Sarah', 'Brian', 'Ted'}
biology_students = {'Matt', 'Joe', 'Liz'}

In [37]:
# Union of sets
math_students | biology_students

{'Brian', 'Joe', 'Liz', 'Matt', 'Sarah', 'Ted'}

In [38]:
# Intersection
math_students & biology_students

{'Matt'}

In [39]:
# 1 - Create a variable called numbers which is a tuple with the the values 1, 2, 3 and 4 inside.


# 2 - Create a variable called value which is a tuple with the the value 1 inside.


# 3 - Given the following variable:

values = [10,20,30]

# Create a variable called static_values which is the result of the values variable converted to a tuple


# 4 - Given the following variable

stuff = [1,3,1,5,2,5,1,2,5]

# Create a variable called unique_stuff which is a set of only the unique values in the stuff list

In [40]:
numbers = (1,2,3,4)

In [49]:
value = (1,)

In [43]:
values = [10,20,30]
static_values = tuple(values)

In [44]:
static_values

(10, 20, 30)

In [45]:
stuff = [1,3,1,5,2,5,1,2,5]
unique_stuff = set(stuff)

In [46]:
unique_stuff

{1, 2, 3, 5}

In [51]:
# Set Comprehension
{ x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [52]:
{char.upper() for char in 'hello'}

{'E', 'H', 'L', 'O'}