# Lambda

In [2]:
def square(num):
    return num*num

In [3]:
square(9)

81

In [5]:
square2 = lambda num: num * num

# same as...  def square(num):  return num*num

In [6]:
square2(7)

49

# map

In [7]:
#map - 

# function that accepts two arguments a function and an iterable
# runs the lambda for each value in the iterable and returns a map object 
# which can be converted into another data structure

In [8]:
nums = [2,4,6,8]

In [14]:
doubles = map(lambda x: x*2 ,nums)
doubles

In [13]:
list(doubles)

[4, 8, 12, 16]

In [15]:
people = ['Darcy', 'Christina', 'Dana', 'Anabel']

In [17]:
peeps = list(map(lambda name: name.upper(),people))
peeps

['DARCY', 'CHRISTINA', 'DANA', 'ANABEL']

In [18]:
# decrement List

In [21]:
def decrement_list(my_list):
    return list(map(lambda num: num-1, my_list))

In [22]:
decrement_list([1,2,3])

[0, 1, 2]

In [1]:
my_list = [1,2,3,4]

def inc(num):
    num += 1
    return num

In [2]:
increment = map(inc, my_list)
list(increment)

[2, 3, 4, 5]

# Filter

In [30]:
my_list = [1,2,3,4]

In [33]:
evens = list(filter(lambda x: x % 2 == 0, my_list))
evens

[2, 4]

In [34]:
# remove negatives

In [40]:
def remove_negatives(my_list):
    return list(filter(lambda x: x >= 0, my_list))

In [41]:
remove_negatives ([1,-2,4])

[1, 4]

# Any and All

In [42]:
# All - return True if all elements of the iterable are True

In [43]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [46]:
people = ['charlie', 'casey', 'cody', 'carley']
all ([name[0]=='c' for name in people])

True

In [47]:
# Any - return True if any of the elements of the iterable are True

In [50]:
nums =  [2, 25, 18]

In [52]:
any ([num % 2 == 0 for num in nums])

True

In [69]:
def is_all_strings(iter):
    return all([type(x) == str for x in iter])

In [70]:
is_all_strings(['hello', 'jack'])

True

In [71]:
is_all_strings(['hello', 'jack', 2])

False

# Sorted

In [72]:
more_numbers = [6,1,8,2]

In [73]:
# sorts it but doesn't change the original
sorted(more_numbers)

[1, 2, 6, 8]

In [74]:
more_numbers

[6, 1, 8, 2]

In [75]:
sorted(more_numbers, reverse = True)

[8, 6, 2, 1]