In [1]:
import sqlite3

In [8]:
# creates connection, also will create db instance if it doesn't exist
conn = sqlite3.connect('my_friends.db')

# Create Table in Python for SQL

In [ ]:
# create cursor object

In [3]:
c = conn.cursor()

In [ ]:
# execute some sql

In [4]:
c.execute("CREATE TABLE friends (first_name TEXT, last_name TEXT, closeness INTEGER)")

In [ ]:
#commit changes

In [5]:
conn.commit()

In [6]:
conn.close()

# Insert into SQL

In [10]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [12]:
insert_query = "INSERT INTO friends VALUES('Merriwether', 'Lewis', 7)"

In [13]:
c.execute(insert_query)

In [14]:
conn.commit()
conn.close()

# Insert multiple Values
# Not the Best but works

In [17]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [18]:
form_first = 'Dana'

In [19]:
query =  f"INSERT INTO friends (first_name) VALUES ('{form_first}')"

In [20]:
c.execute(query)

In [21]:
conn.commit()
conn.close()

# Insert Multiple Values

In [22]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [23]:
form_first = 'Mary-Todd'

In [24]:
query =  f"INSERT INTO friends (first_name) VALUES (?)"

In [25]:
c.execute(query, (form_first,))

In [26]:
conn.commit()
conn.close()

In [27]:
# other example

In [28]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [29]:
data = ('Steve', 'Irwin', 9)

In [32]:
query =  f"INSERT INTO friends VALUES (?, ?, ?)"

In [33]:
c.execute(query, data)

In [34]:
conn.commit()
conn.close()

In [35]:
# Bulk Inserts

In [36]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [37]:
people = [
    ('Roald', 'Amundsen', 5),
    ('Rosa', 'Parks', 8),
    ('Henry', 'Hudson', 7),
    ('Neil', 'Armstrong', 7),
    ('Daniel', 'Boone', 3)
]

In [38]:
c.executemany("INSERT INTO friends VALUES (?,?,?)", people)

In [ ]:
# alt way using a through loop
# for person in people:
#     c.execute("INSERT INTO friends VALUES (?,?,?)", person)

In [39]:
conn.commit()
conn.close()

# Selecting with Python

In [40]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [44]:
c.execute("SELECT * FROM friends")

In [42]:
# can iterate over
for result in c:
    print (result)

('Merriwether', 'Lewis', 7)
('Dana', None, None)
('Mary-Todd', None, None)
('Steve', 'Irwin', 9)
('Roald', 'Amundsen', 5)
('Rosa', 'Parks', 8)
('Henry', 'Hudson', 7)
('Neil', 'Armstrong', 7)
('Daniel', 'Boone', 3)

In [47]:
c.execute("SELECT * FROM friends")
print (c.fetchall())   # makes a list

[('Merriwether', 'Lewis', 7), ('Dana', None, None), ('Mary-Todd', None, None), ('Steve', 'Irwin', 9), ('Roald', 'Amundsen', 5), ('Rosa', 'Parks', 8), ('Henry', 'Hudson', 7), ('Neil', 'Armstrong', 7), ('Daniel', 'Boone', 3)]

In [49]:
c.execute("SELECT * FROM friends WHERE first_name IS 'Rosa'")
print (c.fetchall())

[('Rosa', 'Parks', 8)]

In [52]:
conn.commit()
conn.close()

# Scraping to a Database

In [1]:
import sqlite3
import requests
from bs4 import BeautifulSoup

In [ ]:
# Request URL
# Initialze BS
# Extract Data we want
# Save data to database

In [3]:
response = requests.get('http://books.toscrape.com/catalogue/category/books/history_32/index.html')
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
books = soup.find_all('article')
print(books)

[<article class="product_pod">
<div class="image_container">
<a href="../../../sapiens-a-brief-history-of-humankind_996/index.html"><img alt="Sapiens: A Brief History of Humankind" class="thumbnail" src="../../../../media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg"/></a>
</div>
<p class="star-rating Five">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>
<div class="product_price">
<p class="price_color">Â£54.23</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../unbound-how-eight-technologies-made-us-human-transformed-society-and-brought-our-world-to-the-brink_950/index.html"><img alt="Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink" class="thumbnail" src="../../../../media/cache/4a/3b/4a3b055f9e378a95fedbef55e7bab7ce.jpg"/></a>
</div>
<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../unbound-how-eight-technologies-made-us-human-transformed-society-and-brought-our-world-to-the-brink_950/index.html" title="Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink">Unbound: How Eight Technologies ...</a></h3>
<div class="product_price">
<p class="price_color">Â£25.52</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../the-age-of-genius-the-seventeenth-century-and-the-birth-of-the-modern-mind_929/index.html"><img alt="The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind" class="thumbnail" src="../../../../media/cache/2d/4e/2d4e358712e6c9f1d3bdd78d1a16e5a8.jpg"/></a>
</div>
<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../the-age-of-genius-the-seventeenth-century-and-the-birth-of-the-modern-mind_929/index.html" title="The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind">The Age of Genius: ...</a></h3>
<div class="product_price">
<p class="price_color">Â£19.73</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../political-suicide-missteps-peccadilloes-bad-calls-backroom-hijinx-sordid-pasts-rotten-breaks-and-just-plain-dumb-mistakes-in-the-annals-of-american-politics_917/index.html"><img alt="Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics" class="thumbnail" src="../../../../media/cache/64/44/6444dacdcb9edaadbbd691524622aeb8.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../political-suicide-missteps-peccadilloes-bad-calls-backroom-hijinx-sordid-pasts-rotten-breaks-and-just-plain-dumb-mistakes-in-the-annals-of-american-politics_917/index.html" title="Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics">Political Suicide: Missteps, Peccadilloes, ...</a></h3>
<div class="product_price">
<p class="price_color">Â£36.28</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../thomas-jefferson-and-the-tripoli-pirates-the-forgotten-war-that-changed-american-history_867/index.html"><img alt="Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History" class="thumbnail" src="../../../../media/cache/97/47/974709d437b08e74649b5744471bf472.jpg"/></a>
</div>
<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../thomas-jefferson-and-the-tripoli-pirates-the-forgotten-war-that-changed-american-history_867/index.html" title="Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History">Thomas Jefferson and the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£59.64</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../zealot-the-life-and-times-of-jesus-of-nazareth_785/index.html"><img alt="Zealot: The Life and Times of Jesus of Nazareth" class="thumbnail" src="../../../../media/cache/3d/60/3d6003fc37b842a07c2dbe28e47448e1.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../zealot-the-life-and-times-of-jesus-of-nazareth_785/index.html" title="Zealot: The Life and Times of Jesus of Nazareth">Zealot: The Life and ...</a></h3>
<div class="product_price">
<p class="price_color">Â£24.70</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../a-distant-mirror-the-calamitous-14th-century_652/index.html"><img alt="A Distant Mirror: The Calamitous 14th Century" class="thumbnail" src="../../../../media/cache/41/d5/41d5fa6a81cdbcbe6b0b15757a4c9144.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../a-distant-mirror-the-calamitous-14th-century_652/index.html" title="A Distant Mirror: The Calamitous 14th Century">A Distant Mirror: The ...</a></h3>
<div class="product_price">
<p class="price_color">Â£14.58</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../1491-new-revelations-of-the-americas-before-columbus_650/index.html"><img alt="1491: New Revelations of the Americas Before Columbus" class="thumbnail" src="../../../../media/cache/88/75/8875f384ce9103281b7f6e86a2b8204d.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../1491-new-revelations-of-the-americas-before-columbus_650/index.html" title="1491: New Revelations of the Americas Before Columbus">1491: New Revelations of ...</a></h3>
<div class="product_price">
<p class="price_color">Â£21.80</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../brilliant-beacons-a-history-of-the-american-lighthouse_515/index.html"><img alt="Brilliant Beacons: A History of the American Lighthouse" class="thumbnail" src="../../../../media/cache/56/cb/56cb66d73fb438d64af14dce8bd8b22b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../brilliant-beacons-a-history-of-the-american-lighthouse_515/index.html" title="Brilliant Beacons: A History of the American Lighthouse">Brilliant Beacons: A History ...</a></h3>
<div class="product_price">
<p class="price_color">Â£11.45</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../most-blessed-of-the-patriarchs-thomas-jefferson-and-the-empire-of-the-imagination_509/index.html"><img alt='"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination' class="thumbnail" src="../../../../media/cache/11/af/11af7fbd6aec06a75fe207fae92b17e0.jpg"/></a>
</div>
<p class="star-rating Five">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../most-blessed-of-the-patriarchs-thomas-jefferson-and-the-empire-of-the-imagination_509/index.html" title='"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination'>"Most Blessed of the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£44.48</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../a-short-history-of-nearly-everything_457/index.html"><img alt="A Short History of Nearly Everything" class="thumbnail" src="../../../../media/cache/3c/f6/3cf646523ff7fb8647c500d6325cfcaf.jpg"/></a>
</div>
<p class="star-rating Five">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../a-short-history-of-nearly-everything_457/index.html" title="A Short History of Nearly Everything">A Short History of ...</a></h3>
<div class="product_price">
<p class="price_color">Â£52.40</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../the-rise-and-fall-of-the-third-reich-a-history-of-nazi-germany_454/index.html"><img alt="The Rise and Fall of the Third Reich: A History of Nazi Germany" class="thumbnail" src="../../../../media/cache/e1/02/e102cefae5bb523bc67eb6b49bc18b5d.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../the-rise-and-fall-of-the-third-reich-a-history-of-nazi-germany_454/index.html" title="The Rise and Fall of the Third Reich: A History of Nazi Germany">The Rise and Fall ...</a></h3>
<div class="product_price">
<p class="price_color">Â£39.67</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../catherine-the-great-portrait-of-a-woman_424/index.html"><img alt="Catherine the Great: Portrait of a Woman" class="thumbnail" src="../../../../media/cache/72/f1/72f13b8f069d3a018d2c378be5a1de20.jpg"/></a>
</div>
<p class="star-rating Four">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../catherine-the-great-portrait-of-a-woman_424/index.html" title="Catherine the Great: Portrait of a Woman">Catherine the Great: Portrait ...</a></h3>
<div class="product_price">
<p class="price_color">Â£58.55</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../the-mathews-men-seven-brothers-and-the-war-against-hitlers-u-boats_408/index.html"><img alt="The Mathews Men: Seven Brothers and the War Against Hitler's U-boats" class="thumbnail" src="../../../../media/cache/f2/64/f26457d65a03b2636c4bcc7c318f7346.jpg"/></a>
</div>
<p class="star-rating Five">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../the-mathews-men-seven-brothers-and-the-war-against-hitlers-u-boats_408/index.html" title="The Mathews Men: Seven Brothers and the War Against Hitler's U-boats">The Mathews Men: Seven ...</a></h3>
<div class="product_price">
<p class="price_color">Â£42.91</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../the-hiding-place_406/index.html"><img alt="The Hiding Place" class="thumbnail" src="../../../../media/cache/cf/18/cf187c1dc5575fcbbf49c58024146c4b.jpg"/></a>
</div>
<p class="star-rating Four">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../the-hiding-place_406/index.html" title="The Hiding Place">The Hiding Place</a></h3>
<div class="product_price">
<p class="price_color">Â£55.91</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../americas-war-for-the-greater-middle-east-a-military-history_361/index.html"><img alt="America's War for the Greater Middle East: A Military History" class="thumbnail" src="../../../../media/cache/eb/17/eb178eceef1e9290591cabd5155571a3.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../americas-war-for-the-greater-middle-east-a-military-history_361/index.html" title="America's War for the Greater Middle East: A Military History">America's War for the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£51.22</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../the-guns-of-august_254/index.html"><img alt="The Guns of August" class="thumbnail" src="../../../../media/cache/06/c8/06c897070611b78b80a37333cbb7851c.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../the-guns-of-august_254/index.html" title="The Guns of August">The Guns of August</a></h3>
<div class="product_price">
<p class="price_color">Â£14.54</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>, <article class="product_pod">
<div class="image_container">
<a href="../../../house-of-lost-worlds-dinosaurs-dynasties-and-the-story-of-life-on-earth_170/index.html"><img alt="House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth" class="thumbnail" src="../../../../media/cache/43/fd/43fda1db93163d67705264dcfa98aaa5.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../../house-of-lost-worlds-dinosaurs-dynasties-and-the-story-of-life-on-earth_170/index.html" title="House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth">House of Lost Worlds: ...</a></h3>
<div class="product_price">
<p class="price_color">Â£43.70</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>]

In [14]:
for book in books:
    title = (book.find('h3').find('a')['title'])
    price = (book.select('.price_color')[0].get_text())
    price = float(price.replace('£','').replace('Â',''))
    ratings = {'Zero': 0, 'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
    paragraph = book.select('.star-rating')[0]
    rating = paragraph.get_attribute_list('class')[-1]
    int_rating = ratings[rating]
    print(int_rating)

5
1
1
2
1
3
3
3
3
5
5
2
4
5
4
2
2
2

In [17]:
def scrape_books(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    books = soup.find_all('article')
    all_books = []
    for book in books:
        book_data = (get_title(book), get_price(book), get_rating(book))
        all_books.append(book_data) 
    print(all_books)

def get_title(book):
    return book.find('h3').find('a')['title']

def get_price(book):
    price = (book.select('.price_color')[0].get_text())
    return float(price.replace('£','').replace('Â',''))

def get_rating(book):
    ratings = {'Zero': 0, 'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
    paragraph = book.select('.star-rating')[0]
    word = paragraph.get_attribute_list('class')[-1]
    return ratings[word]

scrape_books('http://books.toscrape.com/catalogue/category/books/history_32/index.html')

[('Sapiens: A Brief History of Humankind', 54.23, 5), ('Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 25.52, 1), ('The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind', 19.73, 1), ('Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics', 36.28, 2), ('Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History', 59.64, 1), ('Zealot: The Life and Times of Jesus of Nazareth', 24.7, 3), ('A Distant Mirror: The Calamitous 14th Century', 14.58, 3), ('1491: New Revelations of the Americas Before Columbus', 21.8, 3), ('Brilliant Beacons: A History of the American Lighthouse', 11.45, 3), ('"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination', 44.48, 5), ('A Short History of Nearly Everything', 52.4, 5), ('The Rise and Fall of the Third Reich: A History of Nazi Germany', 39.67, 2), ('Catherine the Great: Portrait of a Woman', 58.55, 4), ("The Mathews Men: Seven Brothers and the War Against Hitler's U-boats", 42.91, 5), ('The Hiding Place', 55.91, 4), ("America's War for the Greater Middle East: A Military History", 51.22, 2), ('The Guns of August', 14.54, 2), ('House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth', 43.7, 2)]

In [19]:
def scrape_books(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    books = soup.find_all('article')
    all_books = []
    for book in books:
        book_data = (get_title(book), get_price(book), get_rating(book))
        all_books.append(book_data) 
    save_books(all_books)

def save_books(all_books):
    connection = sqlite3.connect("books.db")
    c = connection.cursor()
#    c.execute("CREATE TABLE books (title TEXT, price REAL, rating INTEGER)")
#     no need to create table after running the first time 
    c.executemany("INSERT INTO books VALUES (?, ?, ?)", all_books)
    connection.commit()
    connection.close()
    
def get_title(book):
    return book.find('h3').find('a')['title']

def get_price(book):
    price = (book.select('.price_color')[0].get_text())
    return float(price.replace('£','').replace('Â',''))

def get_rating(book):
    ratings = {'Zero': 0, 'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
    paragraph = book.select('.star-rating')[0]
    word = paragraph.get_attribute_list('class')[-1]
    return ratings[word]

scrape_books('http://books.toscrape.com/catalogue/category/books/history_32/index.html')