In [1]:
import sqlite3

In [8]:
# creates connection, also will create db instance if it doesn't exist
conn = sqlite3.connect('my_friends.db')

# Create Table in Python for SQL

In [ ]:
# create cursor object

In [3]:
c = conn.cursor()

In [ ]:
# execute some sql

In [4]:
c.execute("CREATE TABLE friends (first_name TEXT, last_name TEXT, closeness INTEGER)")

In [ ]:
#commit changes

In [5]:
conn.commit()

In [6]:
conn.close()

# Insert into SQL

In [10]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [12]:
insert_query = "INSERT INTO friends VALUES('Merriwether', 'Lewis', 7)"

In [13]:
c.execute(insert_query)

In [14]:
conn.commit()
conn.close()

# Insert multiple Values
# Not the Best but works

In [17]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [18]:
form_first = 'Dana'

In [19]:
query =  f"INSERT INTO friends (first_name) VALUES ('{form_first}')"

In [20]:
c.execute(query)

In [21]:
conn.commit()
conn.close()

# Insert Multiple Values

In [22]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [23]:
form_first = 'Mary-Todd'

In [24]:
query =  f"INSERT INTO friends (first_name) VALUES (?)"

In [25]:
c.execute(query, (form_first,))

In [26]:
conn.commit()
conn.close()

In [27]:
# other example

In [28]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [29]:
data = ('Steve', 'Irwin', 9)

In [32]:
query =  f"INSERT INTO friends VALUES (?, ?, ?)"

In [33]:
c.execute(query, data)

In [34]:
conn.commit()
conn.close()

In [35]:
# Bulk Inserts

In [36]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [37]:
people = [
    ('Roald', 'Amundsen', 5),
    ('Rosa', 'Parks', 8),
    ('Henry', 'Hudson', 7),
    ('Neil', 'Armstrong', 7),
    ('Daniel', 'Boone', 3)
]

In [38]:
c.executemany("INSERT INTO friends VALUES (?,?,?)", people)

In [ ]:
# alt way using a through loop
# for person in people:
#     c.execute("INSERT INTO friends VALUES (?,?,?)", person)

In [39]:
conn.commit()
conn.close()

# Selecting with Python

In [40]:
conn = sqlite3.connect('my_friends.db')
c = conn.cursor()

In [44]:
c.execute("SELECT * FROM friends")

In [42]:
# can iterate over
for result in c:
    print (result)

('Merriwether', 'Lewis', 7)
('Dana', None, None)
('Mary-Todd', None, None)
('Steve', 'Irwin', 9)
('Roald', 'Amundsen', 5)
('Rosa', 'Parks', 8)
('Henry', 'Hudson', 7)
('Neil', 'Armstrong', 7)
('Daniel', 'Boone', 3)

In [47]:
c.execute("SELECT * FROM friends")
print (c.fetchall())   # makes a list

[('Merriwether', 'Lewis', 7), ('Dana', None, None), ('Mary-Todd', None, None), ('Steve', 'Irwin', 9), ('Roald', 'Amundsen', 5), ('Rosa', 'Parks', 8), ('Henry', 'Hudson', 7), ('Neil', 'Armstrong', 7), ('Daniel', 'Boone', 3)]

In [49]:
c.execute("SELECT * FROM friends WHERE first_name IS 'Rosa'")
print (c.fetchall())

[('Rosa', 'Parks', 8)]

In [52]:
conn.commit()
conn.close()